<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="cabecalho :: head"></div>
    <title>Crud Manager - Filme</title>
</head>
<body>
    <div class="container my-2">
        <h2>Filme</h2>
        <form th:action="@{/movie/save}" method="POST" th:object="${movie}">
            <input type="hidden" th:field="*{id}">

            <span class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
            <input type="text" placeholder="Título" class="form-control mb-3 col-4" th:field="*{titulo}">

            <span class="text-danger" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></span>
            <input type="text" placeholder="Gênero" class="form-control mb-3 col-4" th:field="*{genero}">

            <span class="text-danger" th:if="${#fields.hasErrors('duracao')}" th:errors="*{duracao}"></span>
            <input type="number" placeholder="Duração (min)" class="form-control mb-3 col-4" th:field="*{duracao}">

            <span class="text-danger" th:if="${#fields.hasErrors('classificacao')}" th:errors="*{classificacao}"></span>
            <input type="text" placeholder="Classificação" class="form-control mb-3 col-4" th:field="*{classificacao}">

            <button type="submit" class="btn btn-info col-2">Salvar</button>
        </form>
        <hr>
        <div class="mt-4">
        	<a th:href="@{/movies}" class="btn btn-outline-secondary">Voltar</a>
        </div>
    </div>
</body>
</html>