<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="cabecalho :: head"></div>
    <title>Crud Manager - Filmes</title>
</head>
<body>
    <div th:replace="cabecalho :: navbar"></div>
    <div class="container my-2">
        <a th:href="@{/}" class="btn btn-secondary btn-sm mb-3">Início</a>
        <h1>Filmes</h1>
        <a class="btn btn-primary btn-sm mb-3 float-right" th:href="@{/movies/form}">Adicionar Filme</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título</th><th>Gênero</th><th>Duração</th><th>Classificação</th><th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.titulo}"></td>
                    <td th:text="${movie.genero}"></td>
                    <td th:text="${movie.duracao + ' min'}"></td>
                    <td th:text="${movie.classificacao}"></td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/movies/{id}(id=${movie.id})}">Alterar</a>
                        <a class="btn btn-danger btn-sm" th:href="@{/movies/delete/{id}(id=${movie.id})}">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>