<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="cabecalho :: head"></div>
    <title>Crud Manager - Usuário</title>
</head>
<body> 
    <div class="container my-2">
        <h2>Usuário</h2>
        <form th:action="@{/users/save}" method="POST" th:object="${user}">
            <input type="hidden" th:field="*{id}">

            <label>Nome</label>
            <span class="text-danger d-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <input type="text" placeholder="Nome" class="form-control mb-3 col-4" th:field="*{name}">

            <label>Email</label>
            <span class="text-danger d-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <input type="text" placeholder="Email" class="form-control mb-3 col-4" th:field="*{email}">
            
            <label>Gênero</label>
			<span class="text-danger d-block" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
			<select class="form-control mb-3 col-4" th:field="*{gender}">
			    <option value="">Selecione o gênero</option>
			    <option value="M">Masculino</option>
			    <option value="F">Feminino</option>
			</select>

            <label>Telefone</label>
            <span class="text-danger d-block" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span>
            <input type="text" placeholder="Telefone" class="form-control mb-3 col-4" th:field="*{telefone}">

            <label>Senha</label>
			<span class="text-danger d-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			<input type="password" placeholder="Senha" class="form-control mb-3 col-4" th:field="*{password}">

            <button type="submit" class="btn btn-info col-2">Salvar</button>
        </form>
        <hr>
		<div class="mt-4">
		    <a th:href="@{/users}" class="btn btn-outline-secondary">Voltar</a>
		</div>    
	</div>
</body>
</html>